header {
  display: block;
  margin: 25px 400px 50px 400px;
  background-color: aqua;
  text-align: center;
  border-style: solid;
  border-radius: 5mm;
  color: chocolate;
  border-color: black;
}

#headerH1 {
  padding: 2mm;
}

#headerp {
  background-color: white;
  color: black;
  text-align: center;
  border-style: solid;
  margin: 10px 200px 20px 200px;
  border-radius: 15mm;
}
